# Database Configuration
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

MYSQL_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Backend Configuration
JWT_SECRET_KEY=
CORS_ORIGINS=http://localhost:5173

# SSL Configuration
SSL_EMAIL=
DOMAIN=

# On-chain Configuration
CHAIN_SERVICE_URL=       
CHAIN_WEBHOOK_SECRET=
CHAIN_SERVICE_API_KEY=
CALLBACK_URL=
CHAIN_SECRET=